#body {
  height: 100vh;
  width: 90%;
  padding: 2.5em;
  background-color: rgb(251, 252, 241, 0.6);
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  overflow: auto;
}

.agregar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 4%;
  height: 9%;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 100%;
  color: transparent;
  z-index: 7;
  transition: 0.5s;
  background-color: transparent;
  background-image: url(../../../assets/resources/plus-icon.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.agregar:hover {
  width: 100px;
  border-radius: 10%;
  padding: 10px;
  color: #fff;
  background-image: none;
  background-color: rgb(30, 81, 44);
}

.carrusel {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 2em;
  gap: 2em;
  white-space: nowrap;
}

.carousel-item {
  scroll-snap-align: start;
  box-sizing: border-box;
  text-align: center;
  display: flex;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contenedor_carrusel {
  width: 100%;
  display: grid;
}
