<div id="body">
  <app-forden [modorden]="modorden" (mensajeCambiado)="modOrden($event)" *ngIf="modorden.id_orden"></app-forden>
  <div class="contenedor_carrusel">
    <h2>Ordenes Pendientes</h2>
    <ul class="carrusel">
        <li *ngFor="let orden of ordenesP">
            <app-orden class=".carousel-item" (click)="modOrden(orden)" [orden]="orden"></app-orden>
        </li>
    </ul>
  </div>

  <div class="contenedor_carrusel" >
    <h2>Ordenes Revision</h2>
    <ul class="carrusel">
        <li *ngFor="let orden of ordenesR">
            <app-orden class=".carousel-item" (click)="modOrden(orden)" [orden]="orden"></app-orden>
        </li>
    </ul>
  </div>
</div>
<button class="agregar" (click)="newOrden()">
  Agregar 
</button>
