<div class="container" id="container-main">
  <nav class="container-user" id="container-nav">
    <img
      class="nav-img-user"
      src="https://imgs.search.brave.com/pHcKkcLgGu7EgikX4Te38zX2bMiIn0YQ-uP66OKIZ3Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/ZmFtb3VzYmlydGhk/YXlzLmNvbS9mYWNl/cy92ZWdldHRhNzc3/LWltYWdlLmpwZw"
      alt="Samuel de Luque"
    />
    <label> Samuel D Luque </label>
    <label> Rol: Administrador </label>
    <label> Estado: Activo </label>
    <label> Equipo: #23874 </label>
    <button class="nav-option">Register user</button>
    <button class="nav-option">Teams</button>
    <button class="nav-option">Stats</button>
    <button class="nav-option">Notifications</button>
    <button class="nav-option">Information</button>
    <button class="nav-option">Log out</button>
  </nav>

  <div class="container-user" id="container-info">
    <label> Orden de Mantenimiento a revision</label>
    <img
      class="info-mant"
      src="https://ubuntulife.files.wordpress.com/2009/10/jqgrid.png"
      alt="orden de mantenimiento"
    />
    <label> Orden de Mantenimiento realizada</label>
    <img
      class="info-mant"
      src="https://ubuntulife.files.wordpress.com/2009/10/jqgrid.png"
      alt="orden de mantenimiento"
    />
    <label> Orden de Mantenimiento vigente</label>
    <img
      class="info-mant"
      src="https://ubuntulife.files.wordpress.com/2009/10/jqgrid.png"
      alt="orden de mantenimiento"
    />
  </div>
</div>
