#container-main {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /*background-image: url(src\assets\resources\ImagenFondo.jpeg);*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: grid;
  position: relative;
}
#body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#nav {
  position: absolute;
  width: 100px;
  top: 0;
  left: -100px;
  height: 100%;
  transition: 0.5s ease;
  color: white;
  z-index: 6;
}
#nav:hover {
  width: 400px;
  color: black;
}
