#container-main {
  overflow: hidden;
  padding: 0;
  margin: 30px;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  background-color: #c3ef8e;
  border: none;
  border-radius: 10px;
}

.container-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1.6em;
}

#container-nav {
  background-color: #e1ea5f;
  border-radius: 0px 18px 18px 0px;
  padding: 13px 0px 13px 0px;
}

.nav-option {
  font-size: 30px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
}

label {
  font-size: 30px;
}

.nav-img-user {
  border-radius: 50%;
  object-fit: cover;
}

.info-mant {
  width: 100%;
}
