#container-main {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(src\resources\ImagenFondo.jpeg);
  background-size: 100%;
}

.container {
  display: grid;
  position: relative;
}
#body{
  width: 100%;
  height: 80vh;
}

#nav {
  position: absolute;
  width: 100px; /* Ancho del menú */
  top: 0;
  left: -100px; /* Mueve el menú fuera del contenedor hacia la derecha */
  height: 100%; /* Ocupa toda la altura del contenedor */
  transition: 0.3s ease; /* Agrega una transición para animar el despliegue */
}
#nav:hover {
  width: 400px; /* Ancho del menú */
  left: 0; /* Muestra el menú completamente desplegado */
}
