._container {
  position: relative;
  margin: 0;
}

#body {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-left: 5em;
}

#nav {
  position: fixed;
  width: 5em;
  transition: 0.5s ease;
  color: white;
  z-index: 6;
  height: 100vh;
}

#nav:hover {
  width: 25em;
  color: black;
}
