<div class="_modal">
  <div class="_content">

    <form action="post">
      <h1> Orden de mantenimiento: {{modorden.id_orden}}</h1>

      <fieldset>
        <label>Descripcion de la orden</label>
        <input name="descripcion" [(ngModel)]="modorden.descripcion" type="text">
      </fieldset>
      <fieldset>
        <label>Estado de la orden</label>
        <select name="id_estado" [(ngModel)]="modorden.estado.id_estado">
          <option *ngFor="let estado of estados" [value]="estado.id_estado">
            {{ estado.nombre_estado }}
          </option>
        </select>
      </fieldset>
      <fieldset>
        <label>Equipo:</label>
        <select name="id_equipo" [(ngModel)]="modorden.equipo.id_equipo">
          <option *ngFor="let equipo of equipos" [value]="equipo.id_equipo">
            {{equipo.nombre_equipo}}
          </option>
        </select>
      </fieldset>
      <fieldset>
        <label>Prioridad:</label>
        <select name="id_prioridad" [(ngModel)]="modorden.prioridad.id_prioridad">
          <option *ngFor="let prioridad of prioridades" [value]="prioridad.id_prioridad">
            {{prioridad.nombre_prioridad}}
          </option>
        </select>
      </fieldset>
      <fieldset>
        <label>Administrativo adscrito</label>
        <input name="id_usuario" [(ngModel)]="modorden.administrativo.nombre" type="text">
      </fieldset>
      <fieldset>
        <label>Comentarios</label>
        <input name="comentarios" [(ngModel)]="modorden.comentarios" type="text">
      </fieldset>
    </form>
    <button class="btn btn-success" (click)="cerrar()">Cerrar</button>
    <button *ngIf="nuevo" (click)="agregar()"> Agregar Orden </button>
    <button (click)="actualizar()">Actualizar Orden</button>
  </div>
</div>
