._modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
}

._content {
  position: absolute;
  margin-top: 10vh;
  height: 80vh;
  width: 80%;
  left: 10%;
  background-color: #fff;
  border-radius: 0.625em;
  padding: 1.25em;
}

.group_1 {
  display: flex;
  justify-content: space-around;
}

.group_1 select,
input {
  width: 12.5em;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 3px;
}

.group_2 {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

.group_2 select,
textarea {
  padding: 4px;
  border: 1px solid #000;
  border-radius: 3px;
}

.btn-success {
  position: absolute;
  margin: 5px 8px 0px 0px;
  top: 0;
  right: 0;
  border: none;
  background-image: url(../../../assets/resources/exit-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1.875em;
  width: 1.875em;
  background-color: transparent;
}

.div-crud {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.938em;
}

.btn-crud {
  width: 17%;
  color: #fff;
  padding: 10px 3px 10px 3px;
  border-radius: 0.625em;
  border: none;
  background-color: rgb(30, 81, 44, 0.8);
  transition: 0.5s;
}

.btn-crud:hover {
  width: 18%;
  background-color: rgb(30, 81, 44);
}
