<div class="_modal">
  <div class="_content">
    <form action="post">
      <h1>Orden de mantenimiento: {{ modorden.idOrder }}</h1>

      <fieldset class="group_1">
        <label>Administrativo adscrito:
          <input
          name="id_usuario"
          [(ngModel)]="modorden.idUser"
          type="text"
          disabled="id_usuario"
          />
        </label>

        <label>Prioridad:
          <select
          name="id_prioridad"
          [(ngModel)]="modorden.prioridad">
          <option
            *ngFor="let prioridad of prioridades"
            [value]="prioridad.id_prioridad">
            {{ prioridad.nombre_prioridad }}
          </option>
        </select>
        </label>

        <label>Estado de la orden:
          <select name="id_estado" [(ngModel)]="modorden.estado">
            <option *ngFor="let estado of estados" [value]="estado.id_estado">
              {{ estado.nombre }}
            </option>
          </select>
        </label>
      </fieldset>

      <fieldset class="group_2">
        <label>Equipo: </label>
        <select name="id_equipo" [(ngModel)]="modorden.idEquipo">
          <option *ngFor="let equipo of equipos" [value]="equipo.id_equipo">
            {{ equipo.nombre_equipo }}
          </option>
        </select>

        <label>Descripcion de la orden: </label>
        <textarea name="descripcion" id="descripcion" [(ngModel)]="modorden.description"
        cols="30" rows="3"></textarea>
        </fieldset>
    </form>
    <button class="btn btn-success" (click)="cerrar()"></button>

    <div class="div-crud">
      <button class="btn-crud" *ngIf="nuevo" (click)="agregar()">Agregar Orden</button>
      <button class="btn-crud" (click)="actualizar()">Agregar</button>
    </div>
  </div>
</div>
