/*Estilo al contenedor que contiene el div-img y div-login*/
#container-main {
  position: relative; /*Temporal*/
  top: -30px; /*Temporal*/
  padding: 2rem;
  height: 100vh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Estilos para los mensajes de error*/
p {
  font-size: 16px;
  color: #ff0000;
  position: absolute;
}

.msgCamp {
  right: 19%;
  top: 23%;
}

.msgEmail {
  right: 23%;
  top: 46%;
}

.form-title {
  font-size: 60px;
  font-weight: 600;
  margin-top: .50rem;
}

/*Centra el contenido de los diferentes contenedores(Main,Divs,img)*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Estilo del logo*/
img {
  position: relative;
  top: 43px;
  width: 20%;
}

.label-email,
.label-password{
  color: #000;
  margin-left: 5px;
  font-weight: 300;
}

/*Estilos de los campos Email y Password*/
.email,
.password {
  margin-top: -15px;
  background-color: #ededec;
  border: none;
  border-radius: 0.3rem;
  padding: 0.7rem;
  background-size: 1.25em; /*Tamaño del icono.*/
  background-repeat: no-repeat;
  background-position: 98%; /*Posicion del icono.*/
}

/*Da texto al campo Email y Password cuando este se encuentra vacio*/
.email::placeholder,
.password::placeholder {
  color: #000;
}

.email:focus,
.password:focus {
  outline: none;
  &::placeholder {
    color: transparent;
  }
}

.email {
  background-image: url(../../assets/icon/User.svg);
  opacity: .5;
}

.password {
  background-image: url(../../assets/icon/Passicon2.svg);
  opacity: .5;
}

/*Estilos del boton "Enter"*/
.btn_enter {
  background-color: #1e512c;
  border-radius: 0.625rem;
  border: none;
  color: #fff;
  width: 100%;
  padding: 0.3em;
  font-size: 22px;
}

/*div correspondiente al login*/
#div-login {
  height: 100%;
  width: 50%;
  padding: 1em;
  border-radius: 10px;
  background-color: rgb(251, 252, 241);
}

/*Formulario de inicio de Sesión*/
#form-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  gap: 20px;
  padding: 16px;
}

.label-showpass{
  color: #000;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

/*Estilos de checkBox*/
input[type="checkbox"] {
  cursor: pointer;
  width: 1em;
  height: 1em;
  appearance: none;
  border: 2px solid #1e512c;
  margin-right: 0.3em;
}

input[type="checkbox"]:checked {
  background-color: #1e512c;
  border: 2px solid #000;
}

@media only screen and (max-width: 900px) {
  #container-divs {
    display: flex;
  }
}
