/*Estilo al contenedor que contiene el div-img y div-login*/
#container-main {
  padding: 2rem;
  height: 100vh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Estilos para los mensajes de error*/
p {
  font-size: 16px;
  color: red;
  position: absolute;
}

.msgCamp {
  right: 19%;
  top: 23%;
}

.msgEmail {
  right: 23%;
  top: 46%;
}

.form-title {
  font-size: 50px;
  margin-top: 1em;
}

/*Centra el contenido de los diferentes contenedores(Main,Divs,img)*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Estilo al contenedor de la imagen*/
#div-img {
  width: 100%;
  height: 100%;
}

/*Estilo del logo*/
img {
  width: 60%;
}

/*Estilos de los campos Email y Password*/
.email,
.password {
  background-color: #ededec;
  border: none;
  border-radius: 0.3em;
  padding: 0.4em;
}

.email:focus,
.password:focus {
  outline: none;

  &::placeholder {
    color: transparent;
  }
}

/*Da texto al campo Email y Password cuando este se encuentra vacio*/
.email::placeholder,
.password::placeholder {
  color: #000;
}

/*Iconos en los campos*/
.email,
.password {
  background-size: 1.25em;
  background-repeat: no-repeat;
  background-position: 98%;
}

.email {
  background-image: url(src\assets\resources\Usericon2.svg);
}

.password {
  background-image: url(src\assets\resources\Passicon2.svg);
}

/*Estilos del boton "Enter"*/
.btn_enter {
  background-color: #1e512c;
  border-radius: 0.625rem;
  border: none;
  color: #fff;
  width: 100%;
  padding: 0.3em;
  font-size: 20px;
  margin-bottom: 1em;
}

/*div correspondiente al login*/
#div-login {
  border-left: 12px solid #cad629;
  height: 100%;
  width: 100%;
  padding: 1em;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  background-color: rgb(251, 252, 241);
}

/*Contiene la configuracion de los dos divs anteriores*/
#container-divs {
  display: grid;
  padding: 0;
  background-color: rgb(251, 252, 241, 0.5);
  border-radius: 1.875rem;
  grid-template-columns: 1fr 1fr;
}

/*Formulario de inicio de Sesión*/
#form-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  grid-gap: 16px;
  padding: 16px;
}

/*Estilos de checkBox*/
input[type="checkbox"] {
  cursor: pointer;
  width: 1em;
  height: 1em;
  appearance: none;
  border: 2px solid #1e512c;
  margin-right: 0.3em;
}

input[type="checkbox"]:checked {
  background-color: #1e512c;
  border: 2px solid black;
}

@media only screen and (max-width: 900px) {
  #container-divs {
    display: flex;
  }
}
