<div id="container-main" (mouseenter)="VerBoton()" (mouseleave)="VerBoton()">
  <nav id="navi-admin" >
    <Button class="nav_button Register" (click)="RegisterUser()">
      <span *ngIf="MostrarBoton"> Register user </span>
    </Button>
    <Button class="nav_button Team" (click)="Teams()">
      <span *ngIf="MostrarBoton"> Teams </span>
    </Button>
    <Button class="nav_button Stats" (click)="Stats()">
      <span *ngIf="MostrarBoton"> Stats </span>
    </Button>
    <Button class="nav_button Notifi" (click)="Notifications()">
      <span *ngIf="MostrarBoton">Notifications</span>
    </Button>
    <Button class="nav_button Info" (click)="Information()">
      <span *ngIf="MostrarBoton">Information</span>
    </Button>
    <Button class="nav_button LogOut" (click)="LogOut()">
      <span *ngIf="MostrarBoton">Log Out</span>
    </Button>
  </nav>
</div>
