#container-main {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.625em;
  background-color: rgb(251, 252, 241, 0.5);
  padding: 0.625em;
  transition: 1s;

  &:hover {
    width: 65%;
        .nav_button {
      transition: 0.5s ease;
      background-position: 98%;
      width: 60%;
    }
  }
}

#navi-admin {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 0.5em;
}

.nav_button {
  padding: .313;
  border: none;
  border-radius: 0.625em;
  position: absolute;
  width: 75%;
  height: 2em;
  background-color: #fff;
  background-size: 1.25em;
  background-repeat: no-repeat;
  background-position: center center;
}

.Register {
  background-image: url(../../assets/resources/Register_Icon_Op1.svg);
  bottom: 500px;
}

.Team {
  background-image: url(../../assets/resources/Teams_Icon.svg);
  bottom: 420px;
}

.Stats {
  background-image: url(../../assets/resources/Stats_Icon.svg);
  bottom: 340px;
}

.Notifi {
  background-image: url(../../assets/resources/Notificacion_Icon.svg);
  bottom: 260px;
}

.Info {
  background-image: url(../../assets/resources/Info_Icon.svg);
  bottom: 180px;
}

.LogOut {
  background-image: url(../../assets/resources/LogOut_Icon.svg);
  bottom: 10px;
}
