<div id="container-main">
  <nav id="navi-admin" (mouseenter)="VerBoton()" (mouseleave)="VerBoton()">
    <Button class="nav_button Register" (click)="RegisterUser()">
      <span *ngIf="MostrarBoton"> Register user </span>
      <img src="" alt="tristeza">
    </Button>
    <Button class="nav_button Team" (click)="Teams()">
      <span> Teams </span>
    </Button>
    <Button class="nav_button Stats" (click)="Stats()">
      <span> Stats </span>
    </Button>
    <Button class="nav_button Notifi" (click)="Notifications()">
      <span>Notifications</span>
    </Button>
    <Button class="nav_button Info" (click)="Information()">
      <span>Information</span>
    </Button>
    <Button class="nav_button LogOut" (click)="LogOut()">
      <span>Log Out</span>
    </Button>
  </nav>
</div>
