<div id="body-modpersona">
  <div id="container-main">
    <header class="cabecera">
      <img class="cab-img" src="../../assets/resources/logo.png" alt="logo" />
    </header>
    <form>
      <fieldset class="fieldSelect">
        <label for="estado">Estado</label>
        <select name="id_estado" [(ngModel)]="equipo.estado">
          <option
            *ngFor="let estado of verestado"
            [value]="equipo.estado"
          >
            {{ estado.nombre }}
          </option>
        </select>

        <!-- <label for="rol">Rol</label>
        <select name="id_rol" [(ngModel)]="equipo.rol.id_rol">
          <option *ngFor="let rol of verroles" [value]="equipo.rol.id_rol">
            {{ rol.nombre_rol }}
          </option>
        </select> -->
      </fieldset>

      <fieldset class="fieldInput">
        <label for="nombre_equipo">Nombre</label>
        <input
          type="text"
          name="nombre_equipo"
          [(ngModel)]="equipo.nombre"
        />

        <label for="descripcion">Descripcion</label>
        <input
          type="text"
          name="descripcion"
          [(ngModel)]="equipo.descripcion"
        />
      </fieldset>
      <button (click)="modificarequipo()">Modificar</button>
    </form>
  </div>
</div>
