<div id="body">
  <div class="" id="container-main">
    <nav class="" id="container-nav">
      <img class="nav-img-user"
        src="https://imgs.search.brave.com/pHcKkcLgGu7EgikX4Te38zX2bMiIn0YQ-uP66OKIZ3Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/ZmFtb3VzYmlydGhk/YXlzLmNvbS9mYWNl/cy92ZWdldHRhNzc3/LWltYWdlLmpwZw"
        alt="Samuel de Luque" />
      <label> Samuel D Luque </label>
      <label> Rol: Administrador </label>
      <label> Estado: Activo </label>
      <label> Equipo: #23874 </label>
      <button class="nav-option">Register user</button>
      <button class="nav-option">Teams</button>
      <button class="nav-option">Stats</button>
      <button class="nav-option">Notifications</button>
      <button class="nav-option">Information</button>
      <button class="nav-option" (click)="OutSesion()">Log out</button>
    </nav>
    <router-outlet>
      
    </router-outlet>
    <div class="container-user" id="container-info">
      <label> Orden de Mantenimiento a revision</label>
      <div class="lista">
        <ul class="info-li">
          <li> elemento 1 </li>
          <li> elemento 1 </li>
          <li> elemento 1 </li>
          <li> elemento 1 </li>
        </ul>

        <h1>1,2,3,4,5</h1>
      </div>

      <label> Orden de Mantenimiento realizada</label>
      <div class="lista">
        <ul class="info-li">
          <li> elemento 1 </li>
          <li> elemento 1 </li>
          <li> elemento 1 </li>
          <li> elemento 1 </li>
        </ul>

        <h1>1,2,3,4,5</h1>
      </div>
      <label> Orden de Mantenimiento vigente</label>
      <div class="lista">
        <ul class="info-li">
          <li> elemento 1 </li>
          <li> elemento 1 </li>
          <li> elemento 1 </li>
          <li> elemento 1 </li>
        </ul>

        <h1>1,2,3,4,5</h1>
      </div>
    </div>
  </div>
</div>
