#container-main {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.625em;
  background-color: rgb(251, 252, 241, 0.5);
  padding: 0.625em;
  transition: 1s;

  &:hover {
    width: 100%;
      .nav_button {
      transition: 0.5s ease;
      background-position: 98%;
      width: 100%;
    }

    .LogOut{
      width: 95%;
    }
  }
}

#navi-admin {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.nav_button {
  padding: .313;
  border: none;
  border-radius: 0.625em;
  width: 100%;
  height: 2em;
  background-color: #fff;
  background-size: 1.25em;
  background-repeat: no-repeat;
  background-position: center center;
}

.principal{
  background-image: url(../../assets/resources/home-icon.svg);
}

.Register {
  background-image: url(../../assets/resources/Register_Icon_Op1.svg);
}

.Team {
  background-image: url(../../assets/resources/Teams_Icon.svg);
}

.Stats {
  background-image: url(../../assets/resources/Stats_Icon.svg);
}

.Notifi {
  background-image: url(../../assets/resources/Notificacion_Icon.svg);
}

.Info {
  background-image: url(../../assets/resources/Info_Icon.svg);
}

.LogOut {
  background-image: url(../../assets/resources/LogOut_Icon.svg);
  position: absolute;
  bottom: 0.625em;
  width: 73%;
}
