#container-main {
  height: 100%;
  border: none;
  border-radius: 0 0.625em 0.625em 0;
  background-color: rgb(251, 252, 241, 0.5);
  padding: 0.625em;
}

#navi-admin {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nav_button {
  padding: .313rem;
  border: none;
  border-radius: 8px;
  height: 2em;
  background-color: #fff;
  background-size: 1.25em;
  background-repeat: no-repeat;
  background-position: center;
}

.principal{
  background-image: url(../../../assets/icon/Home.svg);
}

.Register {
  background-image: url(../../../assets/icon/Register.svg);
}

.Team {
  background-image: url(../../../assets/icon/Team.svg);
}

.List {
  background-image: url(../../../assets/icon/List.svg);
}

.Notifi {
  background-image: url(../../../assets/icon/Notificacion.svg);
}

.Info {
  background-image: url(../../../assets/icon/Info.svg);
}

.LogOut {
  background-image: url(../../../assets/icon/LogOut.svg);
  position: absolute;
  bottom: 0.625em;
  width: 73%;
}
