#body-modpersona {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-main {
  background-color: rgb(251, 252, 241, 0.5);
  border-radius: 0.625em;
}

.cabecera {
  position: relative;
  top: 2.625em;
  text-align: center;
  margin-top: -2.813em;
}

.cab-img {
  width: 22%;
}

form {
  padding: 0.625em;
  background-color: rgb(251, 252, 241);
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

fieldset {
  margin: 10px 0px 14px 0px;
}

.div-grid {
  display: grid;
  grid-template-columns: 10% 30%;
  place-content: center;
}

.field-label,
.field-input {
  display: flex;
  flex-direction: column;
}

.field-label {
  text-align: end;
}

.field-input {
  width: 350px;
}

select {
  border-radius: 0.625em;
  width: 12.5em;
  padding: 0.313em;
  margin-right: 0.313em;
  border: 1px solid #000;
  border-radius: 0.625em;
}

label {
  font-size: 1.563em;
  margin: 8px 8px 0px 0px;
}

input {
  font-size: 1.125em;
  padding: 0.313em;
  width: 90%;
  margin-top: 0.5em;
  border: 1px solid #000;
  border-radius: 0.625em;
}

button {
  color: #fff;
  font-size: 1.5em;
  border: none;
  border-radius: 0.625em;
  background-color: #1e512c;
  padding: 0.313em;
  width: 20%;
}
