#body-modpersona {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-main {
  background-color: rgb(251, 252, 241, 0.5);
  border-radius: 0.625em;
  width: 80%;
  height: 80%;
}

.cabecera {
  position: relative;
  top: 2.625em;
  text-align: center;
  margin-top: -2.813em;
}

.cab-img {
  width: 22%;
}

form {
  padding: 2em;
  background-color: rgb(251, 252, 241);
  text-align: center;
}

fieldset {
  display: flex;
  gap: 1em;
  flex-direction: column;
}


.form-input {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
}

select {
  border-radius: 0.625em;
  padding: 0.313em;
  margin-right: 0.313em;
  border: 1px solid #000;
  border-radius: 0.625em;
}

label {
  font-size: 1.563em;
  margin: 0 auto;
}

input {
  font-size: 1.125em;
  padding: 0.313em;
  border: 1px solid #000;
  border-radius: 0.625em;
}

button {
  color: #fff;
  font-size: 1.5em;
  border: none;
  border-radius: 0.625em;
  background-color: #1e512c;
  padding: 0.313em;
  width: 20%;
  margin: 2em;
}
