<div id="body-modpersona">
  <div id="container-main">
    <header class="cabecera">
      <img class="cab-img" src="../../assets/resources/logo.png" alt="logo" />
    </header>
    <form>
        <fieldset class="fieldSelect">
          <label for=""> Equipo </label>


          <label for=""> Estado </label>
          <select name="id_estado" [(ngModel)]="persona.estado">
            <option *ngFor="let estado of verestado" [value]="estado.id_estado"> {{estado.nombre}} </option>
          </select>
        </fieldset>

        <fieldset class="fieldInput">
          <label for=""> Primer Nombre </label>
          <input type="text" name="nombre" [(ngModel)]="persona.nombre1" />
          <label for=""> Segundo Nombre </label>
          <input type="text" name="nombre2" [(ngModel)]="persona.nombre2" />
          <label for=""> Primer Apellido </label>
          <input type="text" name="apellido" [(ngModel)]="persona.apellido1" />
          <label for=""> Segundo Apellido </label>
          <input type="text" name="apellido2" [(ngModel)]="persona.apellido2" />
          <label for=""> Correo </label>
          <input type="text" name="correo" [(ngModel)]="persona.correo" />
        </fieldset>
      <button (click)="modificar()">Modificar</button>
    </form>
  </div>
</div>
