<div id="body-modpersona">
  <div id="container-main">
    <header class="cabecera">
      <img class="cab-img" src="../../assets/resources/logo.png" alt="logo" />
    </header>
    <form>
      <fieldset>
        <fieldset class="form-input">
          <label for=""> Equipo </label>
          <select name="id_estado" id="id_estado" [(ngModel)]="persona.equipo.id_equipo">
            <option *ngFor="let equipo of verequipo" [value]="equipo.id_equipo"> {{equipo.nombre_equipo}} </option>
          </select>
        </fieldset>
        <fieldset class="form-input">
          <label for=""> Estado </label>
          <select name="id_estado" id="id_estado" [(ngModel)]="persona.estado.id_estado">
            <option *ngFor="let estado of verestado" [value]="estado.id_estado"> {{estado.nombre_estado}} </option>
          </select>
        </fieldset>
        <fieldset class="field-input">
          <input type="text"
          name="nombre"
          [(ngModel)]="persona.nombre" />
          <input type="email"
          name="correo"
          [(ngModel)]="persona.correo" />
        </fieldset>


      </fieldset>

      <button (click)="modificar()">Modificar</button>
    </form>
  </div>
</div>
