<div id="body-information">
  <div id="container-main">
    <!-- <header class="cabecera">
      <img class="cab-img" src="../../assets/resources/logo.png" alt="logo" />
    </header> -->
    <div class="container-info">
      <h1>Informacion Personal</h1>
      <article class="container-grid">
        <section class="sec-info">
          <p><strong>Nombre:</strong> {{ personalog.nombre }}</p>
          <p><strong>Segundo nombre:</strong> {{ personalog.nombre2 }}</p>
          <p><strong>Apellido:</strong> {{ personalog.apellido }}</p>
          <p><strong>Segundo apellido:</strong> {{ personalog.apellido2 }}</p>
          <p><strong>Correo:</strong> {{ personalog.correo }}</p>
        </section>
        <section class="sec-info">
          <p><strong>Rol:</strong> {{ personalog.rol.nombre_rol }}</p>
          <p><strong>Equipo:</strong> {{ personalog.equipo.nombre_equipo }}</p>
          <p><strong>Estado:</strong> {{ personalog.estado.nombre_estado }}</p>
        </section>
      </article>
      <Button (click)="CambContra()" class="btn-cambcontra">
        Cambiar contraseña
      </Button>
    </div>
  </div>
</div>
