#body-information {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-main {
  background-color: rgb(251, 252, 241, 0.5);
  border-radius: 0.625em;
}

.cabecera {
  position: relative;
  top: 2.625em;
  text-align: center;
  margin-top: -2.813em;
}

.cab-img {
  width: 40%;
}

h1 {
  text-align: center;
}

.container-info {
  padding: 0.625em;
  background-color: rgb(251, 252, 241);
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sec-info {
  font-size: 1.375em;
  padding: 0.625em;
  text-align: start;
}

.btn-cambcontra {
  font-size: 1.375em;
  padding: 0.313em;
  margin-bottom: 0.313em;
  width: 35%;
  color: #fff;
  border: none;
  border-radius: 0.625em;
  background-color: #1e512c;
}
