<div class="text-center w-full h-[100vh] flex justify-center items-center">
  <header></header>

  <main class="rounded-xl bg-[#FBFCF1] bg-opacity-[0.5]">
    <article class="p-3 bg-[#FBFCF1] rounded-xl">
      <h1>Personal information</h1>

      <section class="text-lg text-start p-3">
        <ul class="personal-details">
          <li>
            <strong>Name:</strong> {{ personalog.nombre1 }}
            {{ personalog.nombre2 }}
          </li>
          <li>
            <strong>Last name:</strong> {{ personalog.apellido1 }}
            {{ personalog.apellido2 }}
          </li>
          <li><strong>Email:</strong> {{ personalog.correo }}</li>
          <li><strong>Role:</strong> {{ personalog.rol }}</li>
          <li><strong>Status:</strong> {{ personalog.estado }}</li>
        </ul>
      </section>

      <Button
        class="p-1 mb-1 w-[200px] text-white rounded-xl bg-[#1e512c]"
        (click)="CambContra()"
      >
        Cambiar contraseña
      </Button>
    </article>
  </main>
</div>
