<div id="body-form">
  <div id="container-form">
    <header>
      <img class="cab-img" src="../../assets/resources/logo.png" alt="logo" />
    </header>
    <form id="formulario" (ngSubmit)="addPersona()" method="post">
      <h1>Registrar</h1>

      <div class="mariana">
        <fieldset>
          <label for=""> Estado </label>
          <select></select>
        </fieldset>

        <fieldset>
          <label for=""> Rol </label>
          <select></select>
        </fieldset>

        <fieldset>
          <label for=""> Jornada </label>
          <select></select>
        </fieldset>
      </div>

      <fieldset>
        <legend>Primer nombre</legend>
        <input
          [(ngModel)]="persona.nombre"
          name="nombre"
          class="form-input input-text"
          type="text"
          required
        />
      </fieldset>

      <fieldset>
        <legend>Segundo nombre (opcional)</legend>
        <input class="form-input input-text" type="text" />
      </fieldset>

      <fieldset>
        <legend>Primer apellido</legend>
        <input class="form-input input-text" type="text" required />
      </fieldset>

      <fieldset>
        <legend>Segundo apellido</legend>
        <input class="form-input input-text" type="text" />
      </fieldset>

      <fieldset>
        <legend>Correo</legend>
        <input
          [(ngModel)]="persona.correo"
          name="correo"
          class="form-input input-email"
          type="email"
          required
        />
      </fieldset>

      <fieldset>
        <legend>Contraseña</legend>
        <input
          [(ngModel)]="persona.password"
          name="password"
          class="form-input input-pass"
          type="password"
          requiered
        />
      </fieldset>
      <input class="form-btn-registrar" type="submit" value="Registrar" />
    </form>
  </div>
</div>
