header {
  top: 2.938em;
  text-align: center;
}

#container-form {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#formulario {
  text-align: center;
  font-size: 1em;
  margin: 0 auto;
  border: none;
  height: 100%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0px 0px 20px 20px;
  background-color: rgb(251, 252, 241);
}

h1 {
  font-size: 4em;
  margin: 0 auto;
  background-color: rgb(251, 252, 241);
  width: 70%;
  z-index: 3;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
}

.form-input {
  font-size: 1.25em;
  border-bottom: 1px solid #000;
  border-radius: 0.438em;
  padding: 2px;
  background-color: rgb(251, 252, 241);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: auto 1.563em;
}

.input-text {
  background-image: url(src\assets\resources\Usericon2.svg);
}

.input-email {
  background-image: url(src\assets\resources\Emailicon.svg);
}

.input-pass {
  background-image: url(src\assets\resources\Eyeicon.svg);
}

.form-btn-registrar {
  color: #ffffff;
  border: none;
  border-radius: 0.938em;
  background-color: #1e512c;
  grid-column: span 3;
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

fieldset {
  margin-bottom: 1.125em;
}

img {
  height: 7em;
}

select {
  background-color: transparent;
  border-radius: 1.25em;
  padding: 8px;
  width: 12.5em;
}

input {
  background-size: 100%;
}

._selects fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

._selects fieldset label {
  font-size: 1.5em;
  font-weight: bolder;
}
