#body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  width: 50%;
}

header{
  background-color: rgb(251, 252, 241, 0.5);
  border: 1px solid blue;
}

form{
  padding: 14px;
  display: flex;
  flex-direction: column;
  grid-gap: .8em;
  border: 1px solid black;
}
