<div id="body">
  <div id="container-main">
    <header id="cabecera">
      <img class="cab-img" src="../../assets/resources/logo.png" alt="logo" />
    </header>
    <form action="">
      <h1> Cambiar contraseña </h1>
      <label for=""> Antigua contraseña</label>
      <input type="text">
      <label for=""> Nueva contraseña</label>
      <input type="text">
      <label for=""> Confirmar contraseña</label>
      <input type="text">
      <button> Cambiar </button>
    </form>
  </div>
</div>
