<div id="body">
  <div id="container-main">
    <header id="cabecera">
      <img class="cab-img" src="../../assets/resources/logo.png" alt="logo" />
    </header>
    <form action="">
      <h1>Cambiar contraseña</h1>
      <fieldset>
        <label for=""> Antigua contraseña</label>
        <input type="password" />
        <i
          class="fa-regular fa-eye"
          style="color: #000000"
        ></i>
      </fieldset>
      <fieldset>
        <label for=""> Nueva contraseña</label>
        <input type="password" [type]="ChangeType ? 'password' : 'text'" />
        <i
          class="fa-regular fa-eye"
          style="color: #000000"
        ></i>
      </fieldset>
      <fieldset>
        <label for=""> Confirmar contraseña</label>
        <input type="password" [type]="ChangeType ? 'password' : 'text'" />
        <i
          class="fa-regular fa-eye"
          style="color: #000000"
        ></i>
      </fieldset>
      <div class="div-check">
        <label for=""> Mostrar contraseña</label> <input class="check" type="checkbox" (click)="viewpass()"/>
      </div>
      <button>Cambiar</button>
    </form>
  </div>
</div>
