<div class="container" id="container-main">
  <div id="container-teams">
    <ol class="team-list" *ngFor="let equipoItem of verequipo">
      <li>
        ID_Equipo: {{ equipoItem.id_equipo }}
        | Nombre: {{ equipoItem.nombre}} |
        Descripcion: {{ equipoItem.descripcion}}
      </li>
    </ol>
  </div>
  <div id="container-crud">
    <button class="btn-crud crud_crear">Crear</button>
    <button class="btn-crud crud_modificar">Modificar</button>
    <button class="btn-crud crud_eliminar">Eliminar</button>
  </div>
</div>
