<div class="container" id="container-main">
  <!--
  <header class="cabecera">
    <img class="cab-img" src="../../assets/resources/logo.png" alt="logo" />
  </header>
  -->
  <form class="form">
    <fieldset class="form-input">
      <label for="nombre">Nombre </label>
      <input
        [(ngModel)]="nombre_equipo"
        [ngModelOptions]="{ standalone: true }"
        id="nombre"
      />
    </fieldset>

    <fieldset class="form-input">
      <label for="descripcion">Descripción </label>
      <input
        [(ngModel)]="descripcion"
        [ngModelOptions]="{ standalone: true }"
        id="descripcion"
      />
    </fieldset>

    <fieldset class="form-input">
      <label for=""> Estado </label>
      <select name="id_estado" id="id_estado" [(ngModel)]="id_estado">
        <option *ngFor="let estado of verestado" [value]="estado.id_estado">
          {{ estado.nombre_estado }}
        </option>
      </select>
    </fieldset>

    <fieldset class="form-input">
      <label for=""> Jornada </label>
      <select name="id_jornada" id="id_jornada" [(ngModel)]="id_jornada">
        <option *ngFor="let jornada of verjornada" [value]="jornada.id_jornada">
          {{ jornada.nombre_jornada }}
        </option>
      </select>
    </fieldset>

    <fieldset class="form-input">
      <label for=""> Rol </label>
      <select name="id_rol" id="id_rol" [(ngModel)]="id_rol">
        <option *ngFor="let rol of verroles" [value]="rol.id_rol">
          {{ rol.nombre_rol }}
        </option>
      </select>
    </fieldset>
  </form>

  <div id="container-teams">
    <table>
      <thead>
        <tr>
          <th>ID Equipo</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Jornada</th>
          <th>Estado</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let equipo of verequipo"
          (click)="this.equipoSelect = equipo"
          [ngClass]="{ seleccionado: equipoSelect == equipo }"
        >
          <td>{{ equipo.id_equipo }}</td>
          <td>{{ equipo.nombre_equipo }}</td>
          <td>{{ equipo.descripcion }}</td>
          <td>{{ equipo.jornada.nombre_jornada }}</td>
          <td>{{ equipo.estado.nombre_estado }}</td>
          <td>{{ equipo.rol.nombre_rol }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="container-crud">
    <button class="btn-crud crud_crear" (click)="addTeam()">Agregar</button>
    <button
      class="btn-crud crud_modificar"
      [disabled]="equipoSelect.nombre_equipo == '' ? true : false"
      (click)="modEquipo()"
    >
      Modificar
    </button>
  </div>
</div>
