<div class="container" id="container-main">
  <div id="container-teams">
    <table>
      <tr>
        <th>IdEquipo</th>
        <th>Nombre</th>
        <th>Descripcion</th>
      </tr>
      <tr *ngFor="let equipoItem of verequipo">
        <td>{{ equipoItem.id_equipo }}</td>
        <td>{{ equipoItem.nombre }}</td>
        <td>{{ equipoItem.descripcion }}</td>
      </tr>
    </table>
  </div>
  <div id="container-crud">
    <button class="btn-crud crud_crear">Crear</button>
    <button class="btn-crud crud_modificar">Modificar</button>
    <button class="btn-crud crud_eliminar">Eliminar</button>
  </div>
</div>
