#container-main {
  position: relative;
  top: 12.5em;
  width: 100%;
  padding: 0.938em;
  border: none;
  border-radius: 0.625em;
  background-color: rgb(251, 252, 241, 0.8);
}

/*.cabecera {
  position: relative;
  top: 42px;
  text-align: center;
  margin-top: -45px;
}

.cab-img {
  width: 20%;
}*/

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.5em;
  margin: 0px 0.625em 0px 0.625em;
}

input, select{
  border-radius: 0.625em;
  padding: 0.313em;
  font-size: 1.125em;
  margin: 0px 0.625em 0.625em 0.625em;
}

input{
  width: 13.75em;
}

select{
  width: 10em;
}

.form-input {
  display: flex;
  flex-direction: column;
}

#container-teams {
  font-size: 1.375;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.625em;
  border-radius: 0.625em;
  background-color: #fff;
  max-height: 25em;
  overflow-y: auto;
}

table {
  width: 100%;
  border-radius: 0.625em;
  margin: 0.625em 0px 0.625em 0px;
}

th,
td {
  font-size: 1.563em;
  padding: 0.7em;
  border-bottom: 1px solid black;
}

.btn-eliminar {
  position: relative;
  left: 0.625em;
  top: 0.625em;
  width: 100%;
  height: 3.125em;
  background-image: url(../../../assets/resources/Icon-trash.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

#container-crud {
  height: 100%;
  width: 100%;
  padding: 0.625em;
  margin-top: 0.625em;
  display: flex;
  justify-content: center;
}

.btn-crud {
  font-size: 1.5em;
  color: #fff;
  width: 9.375em;
  padding: 0.5em;
  border: none;
  border-radius: 0.625em;
  background-color: #1e512c;
  margin: 0px 0.625em 0px 0.625em;
}
