#container-form {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  height: 100vh;
  z-index: 2;
}

#cabecera {
  width: 100%;
  text-align: center;
}

.cab-img {
  width: 60%;
}

#formulario {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 0.625em;
  background-color: rgb(251, 252, 241);
}

h1 {
  font-size: 4em;
}

.form-input {
  font-size: 1.5em;
  width: 75%;
  margin-bottom: 0.5em;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: rgb(251, 252, 241);
  background-repeat: no-repeat;
  background-position: 98%;
}

.input-text {
background-image: url(src\assets\resources\Usericon2.svg);
}

.input-email {
background-image: url(src\assets\resources\Emailicon.svg);
}

.input-pass {
  background-image: url(src\assets\resources\Eyeicon.svg);
}

.form-btn-registrar {
  color: #ffffff;
  font-size: 1.5em;
  width: 70%;
  border: none;
  border-radius: 0.938em;
  background-color: #1e512c;
  margin-bottom: 2em;
}

.form-label {
  font-size: 1.375em;
}
